html, body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewport {
    height: 256px;
    width: 640px;
    position: relative;
    overflow-x: auto;
    background-image: url('../images/water0.png');
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url('../images/port.png');
}

#ship {
    height: 64px;
    width: 128px;
    background-image: url('../images/ship.png');
    position: absolute;
}

#sailButton {
    border: 0;
    background-color: coral;
    color: rgb(22, 2, 70);
    font-family: 'VT323', monospace;
    font-size: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

#sailButton:hover {
    background-color: #d8040f;
    border-bottom-width: 0;
    color: white;
}

#message {
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    font-size: 23px;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'VT323', monospace;
}

/*
#headsUpDisplay { // top of page flex container 
    color: white;
    position: absolute;
    align-self: flex-start;
    width: 40%;
    right: 5%;
}

#portInformation { // top of page flex div 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'VT323', monospace;
}
*/